.navbar {
  height: 5rem;
  background-color: white;
}

.navbar nav {
  height: 100%;
}

.links {
  margin: 0;
  width: 10rem;
  padding-right: 10px;
}

.title {
  height: 44px;
  opacity: 80%;
  left: 1rem;
  position: absolute;
  left: 0;
  top: 0;
}

.icon {
  width: 36px;
  height: 36px;
  margin-right: 0;
  position: sticky;
}

.navlinks {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: right;
  position: sticky;
  z-index: 100;
}

header {
  padding: 18px;
  margin-bottom: 5px;
  /* height: 200px; */
  background-color: white;
  position: fixed;
  top: 0px;
  height: fit-content;
  width: 100%;
  z-index: 100;

}
